.homeServices{
    margin-bottom: 5%;
    background-image: url('../../../images/aboutus/sec-bg.png');
    background-position: center;
    background-size: cover;
}

.serviceText{
    font-size: 20px;
}

.service-link{
    text-decoration: none;
}



.rightSide-title{
    float: right;
    margin-right: 2%;
}

