.homeServices{
    background-image: url('../../../images/aboutus/sec-bg.png');
    background-position: center;
    background-size: cover;
}

.serviceText{
    font-size: 20px;
}

.service-link{
    text-decoration: none;
}

.leftSide-title{
    color: rgb(250, 66, 97);
    margin-bottom: 2%;
    font-size: 22px;
}

.rightSide-title{
    float: right;
    margin-right: 2%;
    color: rgb(250, 66, 97);
    font-size: 22px;
}

