.form{
    margin-bottom: 13%;
}

.text{
    font-size: 22px;
}

.mailInput{
    width: 25%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(250, 66, 97);
    margin-bottom: 10px;
}

.reviewArea{
    width: 35%;
    border: 2px solid rgb(250, 66, 97);
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}

.submit{
    background-color: black!important;
    width: 20%;
    border: 1px solid rgb(250, 66, 97) !important;
}

.submit:hover{
    box-shadow: 0 3px 15px rgba(250, 66, 97, 0.5) !important;
    background-color: rgb(250, 66, 97) !important;

}

@media only screen and (max-width: 688px) {
    .mailInput{
        width: 100%;
        padding: 15px;
        font-size: 20px;
    }

    .reviewArea{
        width: 100%;
        padding: 15px;
        font-size: 22px;
        margin-bottom: 8px;
    }

    .submit{
        width: 50%;
        font-size: 20px;
    }
}